<div class="my-3">
    <hr>
    <h2>FromEvent Operator</h2>
    <hr>
    <br>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    Add Video
                </div>
                <div class="card-body">
                    <button #addBtn class="btn btn-primary">
                        add
                    </button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                  Video List
                </div>
                <div class="card-body">
                    <ul id="videoUl">
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                   Music List
                </div>
                <div class="card-body">
                    <ul id="MusicUl">
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
