<div class="my-3">
    <hr>
    <h2>Of & From Operators</h2>
    <hr>
    <h2>Ex - 01(OF)</h2> 
    <br>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                  <strong>Data : of('Rafiq', 'Shafiq', 'Sharif')</strong>
                </div>
                <div class="card-body">
                    <ul id="ofUl"></ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <strong>Data : of(['Rafiq', 'Shafiq', 'Sharif'])</strong>
                </div>
                <div class="card-body">
                    <ul id="fromUl"></ul>
                </div>
            </div>
        </div>
    </div>
</div>
