<div class="my-3">
    <hr>
    <h2>InterVal & Timer Operators</h2>
    <hr>
    <br>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                  add Video by Interval per sec
                </div>
                <div class="card-body">
                    <ul id="intervalUl"></ul>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                  add Video by Timer after 5 sec
                </div>
                <div class="card-body">
                    <ul id="timeUl"></ul>
                </div>
            </div>
        </div>
    </div>
</div>
